* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: rgba(162, 244, 250, 0.979);
  height: 100%;
  width: 100%;
  /*display: inline-block;
  font-family: "Dancing Script", cursive;
  /*text-decoration: none;*/
}
/* Add a background color to the top navigation */
.topnav {
  background-color: rgb(48, 241, 232);
  overflow: hidden;
  height: 50px; /* check this*/
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 50px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(244, 221, 158);
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(162, 244, 250, 0.979);
  color: white;
}

section {
  display: flex;
  /*background-color: black;*/
  justify-content: end;
}

#sidebar {
  width: 75%;
  color: rgb(247, 183, 101);
  padding: 100px;
  font-size: 1.5em;
  font-family: "Dancing Script";
  text-align: center;
}
.shopcontainer {
  display: flex;
  flex-direction: column;
  /*float: right;*/
  max-width: 300px;
  margin-right: 50px;
  justify-content: space-evenly;
}

/*THIS IS CARDS STYLING*/
.card {
  /*display: inline-block;*/
  box-shadow: rgba(48, 241, 232, 0.3) 5px 5px 5px 12px;
  width: 260px;
  border-radius: 100%;
  margin-right: 100px;
  margin-top: 50px;
  vertical-align: top;
  cursor: pointer;
  align-self: baseline;
}
.shopcontainer :hover {
  transform: scale(1.05);
}
/*.card :hover {
  color: rgba (48, 241, 232, 0.3) 5px 5px 5px 12px;
}  add something to make it pulse*/

img {
  width: 260px;
  height: 200px;
  /*border-radius: 20px 20px 0px 0px;*/
  border-radius: 100%;
  object-fit: cover;
}

.card-text {
  height: 180px;
  padding: 4px 30px 15px 30px;
  border-radius: 100%;
}

.card h2 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 2px 0px 0px 0px;
  text-align: center;
  font-family: "Dancing Script";
  border-radius: 100%;
}

.card p {
  color: rgb(247, 183, 101);
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  font-family: "Dancing Script";
  border-radius: 100%;
}

.icon {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  color: rgb(244, 221, 158);
  align-items: center;
}

#footerLeft {
  /*display: flex;*/
  /*justify-content; center;
  align-items: center;*/
  text-align: center;
  width: 100%;
  height: 75px;
  margin-top: 50px;
}

/*
#footerRight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 75px;
}

#footerRight i {
  font-size: 40px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#footerRight i:hover {
  color: rgb(218, 26, 50);
}*/

@media screen and (max-width: 450px) {
  .topnav {
    background-color: rgb(48, 241, 232);
    overflow: hidden;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: rgba(162, 244, 250, 0.979);
    display: block;
    position: center;
    left: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: rgb(48, 241, 232);
    color: rgb(244, 221, 158);
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #04aa6d;
    color: white;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*#sidebar {
    width: 100%;
    color: rgb(247, 183, 101);
    padding: 10px;
    font-size: 1em;
    font-family: "Dancing Script";
    text-align: center;
    width: 220px;
  }*/

  #sidebar {
    width: 100%;
  }

  .jewellerywords {
    color: white;
  }
  .shopcontainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: space-evenly;
    margin-left: 35px;
    /*background-color: blue;*/
  }
}
